[submodule "packages/faucet/contracts/lib/openzeppelin-contracts"]
	path = packages/faucet/contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "packages/weth9/lib/forge-std"]
	path = packages/weth9/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "packages/faucet/contracts/lib/forge-std"]
	path = packages/faucet/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "packages/uniswapv3/lib/forge-std"]
	path = packages/uniswapv3/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "packages/uniswapv3/lib/v3-core"]
	path = packages/uniswapv3/lib/v3-core
	url = https://github.com/uniswap/v3-core
[submodule "packages/uniswapv3/lib/v3-periphery"]
	path = packages/uniswapv3/lib/v3-periphery
	url = https://github.com/uniswap/v3-periphery
[submodule "packages/uniswapv3/lib/v3-staker"]
	path = packages/uniswapv3/lib/v3-staker
	url = https://github.com/uniswap/v3-staker
